/*
general 
*/
@font-face {
    font-family: "Bohemian Typewriter";
    src: url(./fonts/Bohemian/Typewriter.ttf);
}
body {
    margin: 0;
    background-image: url(./images/parallax.JPG);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size:  cover;
    position: relative;
    font-family: 'Poppins', sans-serif;
    color: black;
}

header {
    background-color: rgb(159,164,123);
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-areas:
        "logo  lasBandurrias"
        "logo  cabañaPatagonica"
        "navBar  navBar";
    grid-template-columns: 20% 80%;
    border-bottom: 0.1rem solid rgb(229,223,207);
    font-family: 'IM Fell DW Pica SC', serif;
}

.nombreCabanas {
    font-family: "Bohemian Typewriter";
    font-size: 4.5rem;
    letter-spacing: 0.2em;
    text-align: end;
    grid-area: lasBandurrias;
    margin: 1rem 0 0 0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
}

.cabanaPatagonica {
    font-family: "Bohemian Typewriter";
    font-size: 1.5rem;
    letter-spacing: 0.3em;
    text-align: end;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    grid-area: cabañaPatagonica;
    margin: 0 1rem;
}

.logo {
    grid-area: logo;
    height: 13rem;
    padding: 1rem;
}
.myNavBar {
    grid-area: navBar;
}
nav {
    display: flex;
    align-items: baseline;
    align-content: space-between;
    justify-content: center;
}
nav ul {
    text-align: center;
    display: flex;
    flex-direction:row;
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 0;
    align-items: stretch;
}
ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

ul li {
    font-size: 1.5rem;
    padding: .5rem 1em ;
    margin: .5rem 3rem;
}
nav a {
    text-decoration: none;
    color: black;
}
nav a:hover{
    text-decoration: none;
    color: black;
}
.myBtnNav {
    display: flex;
    align-items: center;
    justify-items: center;
    border-radius: 25px;
    transition-property: background;
    transition-duration: 500ms;
}
.myBtnNav:hover {
    background-color: rgb(241,233,210);
    text-decoration: none;
    color: black;
}

/* 
FOOTER 
*/
.footer {
    background-color: rgb(159,164,123);
    border-top: 0.1rem solid rgb(229,223,207);
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1rem;
}

.adress {
    width: 33%;
}

.contacto {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 33%;
    justify-content: end;
    padding: 0 0.1rem;
    margin: 0;
}

footer p {
    padding: .1rem;
    justify-content: end;
    margin: 0 1rem;
}

footer h3 {
    margin: 1rem 1rem .5rem 1rem;
    padding: .1rem;
    font-family: 'IM Fell DW Pica SC', serif;
    font-size: 1.5rem;
    letter-spacing: 0.3em;
}


/* 
HOME - MAIN 
*/
.placaFondo {
    background-color: rgb(229,223,207,.5);
    margin: 3%;
    padding: 1rem;

}
.presentacion {
    background-color: rgb(241,233,210);
    margin: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.presentacion h1 {
    font-family: 'IM Fell DW Pica SC', serif;
    font-size: 4rem;
    letter-spacing: 0.3em;
    margin: 1rem 0 0;
}

.presentacion h2 {
    font-family: 'IM Fell DW Pica SC', serif;
    font-size: 2rem;
    letter-spacing: 0.3em;
}
.fotoCabana {
    width: 50rem;
    margin: 2rem;
}


/*
FAQ - acordeon
*/

.myAccordion {
    background-color:rgb(161,161,137);
    color:rgb(241,233,210);
    font-family: 'Poppins', sans-serif;
}
.myAccordion:not(.collapsed) {
    background-color: rgb(241,233,210);
    color: rgb(161,161,137) ;
    border-color:rgb(161,161,137);
    box-shadow:rgb(161,161,137);
    }
.myAccordion-botton:not(.collapsed) {
    border-color: rgb(161,161,137) ;
}

.myAccordion:not(.collapsed){
    border-color:#BABC94 ;
    box-shadow: none;
}
.myAccordion-button:focus {
    border-color: rgb(159,164,123) ;
    box-shadow:none;
}

/* MAIN TURISMO */

.lugares{
    background-color:rgb(241,233,210);
    padding: 1rem;
    margin: 1rem 0;
}

/* 
media queries - TABLET 
*/
@media screen and (max-width: 768px) {
    *body {
        width: 100%;}
    header {
        font-size: 3rem;
        letter-spacing: .1em;
        text-align: end;
    }
    .logo {
        height: 9rem;
    }
    .nombreCabanas {
        font-size: 2rem;
    }
    ul li{
        font-size: 1rem;
        margin: 1rem;
        padding: 0.5rem;
        flex-wrap: wrap;
        justify-content: center;
    }
    .myBtnNav:hover {
        background-color: rgb(159,164,123);
        border-radius: 25px;
        text-decoration: none;
        color: black;}

    .presentacion h1 {
        font-size: 2rem;
        text-align: center;
    }

    .presentacion h2 {
        font-size: 1rem;
    }
    .fotoCabana {
        width: 25rem;
        margin: 1rem;
    }
    .footer {
        background-color: rgb(159,164,123);
        border-top: 0.1rem solid rgb(229,223,207);
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        justify-content:center;
    }

    .footer h3 {
        text-align: center;
    }

    .footer p {
        text-align: center;
    }
    .adress {
        width: 100%;
    }
    .contacto{ 
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    }
}

/* 
media queries - CELULAR
 */

@media screen and (max-width: 576px) {
    body {
        width: 100vw;
    }
    .fotoCabana {
        width: 27rem;
        margin: 1rem;
    }
    header {
        grid-template-areas:
            "logo lasBandurrias"
            "logo cabañaPatagonica"
            "navBar navBar";
        width: 100%;
        font-size: 3rem;
        letter-spacing: .1em;
        text-align: end;
    }
    .logo {
        height: 9rem;
    }
    .nombreCabanas {
        font-size: 2rem;
    }
    ul li{
        font-size: 1rem;
        margin: 1rem;
        padding: 0.5rem;
        flex-wrap: wrap;
        justify-content: center;
    }

    .myBtnNav:hover {
        background-color: rgb(159,164,123);
        border-radius: 25px;
        text-decoration: none;
        color: black;}

    .presentacion h1 {
        font-size: 2rem;
        text-align: center;
    }

    .presentacion h2 {
        font-size: 1rem;
    }

    .footer {
        background-color: rgb(159,164,123);
        border-top: 0.1rem solid rgb(229,223,207);
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        align-items: center;
        justify-content:center;
    }

    .footer h3 {
        text-align: center;
    }

    .footer p {
        text-align: center;
    }
    .adress {
        width: 100%;
    }
    .contacto{ 
    align-items: center;
    justify-content: center;
    margin-bottom: 2rem;
    }
}
